<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Mental-bot-atron-5000</title>
      <link
         rel="stylesheet"
         type="text/css"
         href="{{ url_for('static', filename='css/style.css') }}"
      />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script
         type="text/javascript"
         src="{{ url_for('static', filename='script/script.js') }}"
      ></script>
   </head>
   <body>
      <div class="container">
         
         <div id="top-bar">

            <div id="left-side">
               <div id="ai-not-enough">Urgently need someone to talk to? Suggested Hotlines:</div>
               <div id="hotlines">
                  <div class="hotline">
                     <h3>DEFAULT DEFAULT DEFAULT</h3>
                     <p>1-800-DEFAULT</p>
                  </div>
                  <div class="hotline">
                     <h3>DEFUALT DEFAULT DEFAULY</h3>
                     <p>1-888-DEFAULT</p>
                  </div>

               </div>
            
            </div>
            

            <div id="title">MentalHealth-bot-atron 5000</div>

            <div id="right-side">
               <div id="ai-not-enough">Just need to talk to a real person?(WARLMLINES):</div>
               <div id="warmlines">
                  <div class="hotline">
                     <h3>DEFAULT DEFAULT DEFAULT</h3>
                     <p>1-800-DEFAULT</p>
                  </div>
                  <div class="hotline">
                     <h3>DEFUALT DEFAULT DEFAULY</h3>
                     <p>1-888-DEFAULT</p>
                  </div>
               </div>
            </div>
         </div>
         
         
         
         <div id="chat-container">
            <div id="chat-area"></div>
         </div>


         <div id="user-input">
            <input
               type="text"
               id="user-input-field"
               placeholder="Pour out your heart queen..."
               autocomplete="off"
            />
            <button id="send-button" onclick="sendMessage()">Send</button>
         </div>
      </div>
   </body>
</html>
